@import 'tailwindcss';

@keyframes smooth-shine {
  0% {
    transform: translateX(-150%) skewX(-20deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(150%) skewX(-20deg);
    opacity: 0;
  }
}

.shiny-btn {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.4s ease, transform 0.2s ease;
}


.shiny-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 45%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.4) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(4px);
  opacity: 0;
  pointer-events: none;
}

.shiny-btn:hover::before {
  opacity: 1;
  animation: smooth-shine 0.3s ease-in-out forwards;
}
